body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fff8f0;
    
}

.header {
    background: #d1495b;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;

}

.hero {
    text-align: center;
    margin-top: 80px;
}

.hero h2 {
    font-size: 32px;
    color: #d1495b;
}

.hero p {
    font-size: 18px;
}

.btn {
    display: inline-block;
    background: #d1495b;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 5px;
}

.form-container {
    width: 320px;
    background: white;
    padding: 20px;
    margin: 60px auto;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.form-container h2 {
    color: #d1495b;
}

.form-container input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #bbb;
    border-radius: 5px;
}

.form-container button {
    width: 95%;
    background: #d1495b;
    padding: 10px;
    border: none;
    color: white;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.form-container a {
    color: #d1495b;
    text-decoration: none;
}

.form-container button {
    background: #d1495b;
}

